@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  --primary-color: #152238;
  --primary-bg-color: #fff;
  --secondary-bg-color: #eef1f2;
  --footer-bg-color: #333;
  --dark-grey: #222;

  --ieee_cyan: #1abc9e;
  --ieee_blue: #386cb5;
  --ieee_red: #e74c3c;
  --ieee_yellow: #f1c40f;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}

a {
  text-decoration: none;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

